<%= form_for(@recipe) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :cook_time %>
  <%= f.text_field :cook_time %><br>

  <%= f.label :yeild %>
  <%= f.text_field :yeild %><br>

  <div>
   <h3>Add an Ingredient:</h3>
   <%# add button here to add more blank ingredients when needed  %>
   <%= f.fields_for :ingredients, Ingredient.new do |ingredients_form|%>
       <%= ingredients_form.label :ingredient_name %>
       <%= ingredients_form.text_field :ingredient_name %>
   <% end %>
   <%= f.fields_for :ingredients, Ingredient.new do |ingredients_form|%>
       <%= ingredients_form.label :ingredient_name %>
       <%= ingredients_form.text_field :ingredient_name %>
   <% end %>
   <%= f.fields_for :ingredients, Ingredient.new do |ingredients_form|%>
       <%= ingredients_form.label :ingredient_name %>
       <%= ingredients_form.text_field :ingredient_name %>
   <% end %>
 </div>


 <div>
  <h3>Add an Instruction:</h3>
  <%= f.fields_for :instructions, Instruction.new do |instructions|%>
      <%= instructions.label :instruction %>
      <%= instructions.text_field :instruction %>
  <% end %>
  <%= f.fields_for :instructions, Instruction.new do |instructions|%>
      <%= instructions.label :instruction %>
      <%= instructions.text_field :instruction %>
  <% end %>
  <%= f.fields_for :instructions, Instruction.new do |instructions|%>
      <%= instructions.label :instruction %>
      <%= instructions.text_field :instruction %>
  <% end %>
</div>

  <%= f.submit 'Create Recipe!' %>
<% end %>
