<h1>Name: <%= @recipe.name %></h1>

<p><%=link_to "Edit Recipe", edit_recipe_path(@recipe)%> - <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %></p>

<h3>Total Time: <%= @recipe.cook_time %></h3>
<h3>Yields: <%= @recipe.yeild %></h3>

<ul>
  <h3>Ingredients: </h3>
  <% @recipe.ingredients_list.each do |ingredient| %>
      <li><%= ingredient %></li>
  <% end %>
</ul>

<ol>
  <h3>Instructions: </h3>
  <% @recipe.instructions_list.each do |instruction| %>
      <li><%=instruction%></li>
  <% end %>
</ol>
